html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
end reset*/

/*social icons start*/

.top {
	display: inline-block;
	width: 100%;
	background-color: #000;
	font-size: 18px;
}

.top-socials {
	display: inline-block;
	margin: 0.7% 0 0 0;
	width: 100%;
	text-decoration: none;
	letter-spacing: 5px;
}

.top-socials a:hover i {
	color: aqua;
	transform: scale(1.4);
	transition: all .4s ease-in-out;
}

.top-socials a {
	color: #fff;
}

/*social icons end*/

/*navigation start*/

.navigacija img {
	width: 100px;
}

.nav {
	background-color: #000;
	border-radius: 0;
}

.navbar ul li {
	font-size: 22px;
	letter-spacing: 3px;
	font-weight: 600;
	font-family: Pacifico, 'Lobster Two', cursive;
	padding: 0 30px;
}

.navbar {
	margin-bottom: 0;
}

.col-sm-2 {
	padding: 0;
}

.navigacija {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav a {
	color: #fff;
}

.nav>li>a:hover {
	color: aqua;
	transform: scale(1.2);
	transition: all .4s ease-in-out;
}

.navbar-left {
	display: flex;
	padding: 0 40px;
}

.navbar-right {
	display: flex;
	padding: 0 40px;
}

.navbar:after {
	content: "";
	border-color: #000 rgba(136, 183, 213, 0) rgba(136, 183, 213, 0);
	border-style: solid;
	border-width: 50px;
	left: 50%;
	position: absolute;
	margin-left: -60px;
	top: 100%;
	width: 0;
}

.modal-dialog {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.modal-info {
	background: #75d3d8;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #75d3d8, #03687c);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #75d3d8, #03687c);
}

.modal-info {
	color: #fff;
}

.modal-info h2 {
	font-family: 'Lobster Two', cursive;
	font-weight: 800;
	letter-spacing: 5px;
	font-size: 30px;
	color: #dfffa4;
	text-shadow: 2px 2px 2px black;
}

.modal-info ul li {
	padding: 0;
	margin: 30px;
	display: block;
	text-decoration: none;
}

.modal-info a:hover {
	text-decoration: none;
	color: #d86100;
}

.modal-info p {
	padding: 30px;
	color: #fff;
	font-size: 18px;
	font-family: 'Lobster Two', cursive;
}

.modal-info input {
	margin: 3% 0;
}

.modal-info textarea {
	border: none;
	height: 120px;
}

.Git {
	color: #a5ffc0;
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	font-weight: 800;
	text-shadow: 2px 2px 2px black;
}

.subbut {
	background-color: #2db2ff;
	border: none;
	font-size: 16px;
	padding: 4% 8%;
	margin: 3% 0;
	font-family: 'Lobster Two', cursive;
}

/*navigation ends*/

/*main text start*/

.main {
	background: #C6FFDD;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* background-image: radial-gradient(circle at right,#f5ff99 0%,#29c4a9 100%)!important; */
	/* background-image: url("../images/cosmos.jpg"); */
	/* background-repeat: no-repeat;
	display: flex;
	justify-content: center; */
}

.main h2 {
	margin: 15% 0;
	text-align: center;
	font-size: 50px;
	color: #fff;
	font-weight: 200;
	font-family: 'Pacifico', cursive;
}

.main p {
	margin: 15% 0;
	text-align: center;
	font-size: 24px;
	font-weight: 800;
	color: #fff;
	text-shadow: 2px 2px 2px black;
	line-height: 35px;
	letter-spacing: 2px;
	font-family: Pacifico, 'Raleway', sans-serif;
}

/*main text end*/

/*testimonial start*/

.apie {
	display: inline-block;
	/* width: 1000px;
	margin-left: calc((100% - 1000px) / 2);
	margin-right: calc((100% - 1000px) / 2); */
	background-color: #000;
	min-height: 377px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.apie-bg {
	display: inline-block;
	width: 1000px;
	margin-left: calc((100% - 1000px) / 2);
	margin-right: calc((100% - 1000px) / 2);
}

.img-circle {
	display: inline-block;
	margin: 0;
	width: 180px;
}

.apie p {
	display: inline-block;
	width: 80%;
	/* margin: 1% 17%; */
	color: #fff;
	text-align: left;
	font-size: 18px;
	font-family: Pacifico, 'Raleway', sans-serif;
	margin-bottom: 3%;
}

.name p {
	display: inline-block;
	/* margin: 1% 17%; */
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	font-family: Pacifico, 'Raleway', sans-serif;
}

.credentials {
	display: inline-block;
	float: left;
}

/*testimonial end*/

/*stay tuned start*/

.nuotrauka {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	background: linear-gradient(to right, #1f2f51, #7fd6dd);
	/* border-bottom: 1px solid white; */
}

.nuotrauka h3 {
	padding: 50px 0 0 0;
}

.nuotrauka a {
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
	color: #fff;
	text-decoration: none;
}

.nuotrauka a:hover {
	color: aqua;
}

.nuotrauka h2 {
	margin: 0 0 10% 0;
	color: #fff;
	font-weight: 400;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
}

.col-sm-12 {
	width: 400px;
}

.form-control {
	border-radius: 20px;
	background: transparent;
	border: 1px solid black;
	color: white;
	font-size: 20px;
}

.form-control::placeholder {
	color: white;
	font-family: pacifico;
}

.form-control:hover {
	background-color: #1bb8f7;
}

.btn-warning {
	display: flex;
	margin: auto;
	margin-top: 20px;
	padding: 12px 24px;
	font-size: 18px;
	color: #000;
	background: #1bb8f7;
	border: 2px solid black;
	font-family: pacifico, 'Indie Flower', cursive;
}

/*stay tuned ends*/

.worldmap-text {
	/* background-image: url("../images/cosmos.jpg");
	background-repeat: no-repeat; */
	background: linear-gradient(to right, #1f2f51, #7fd6dd);
	width: 100%;
	display: inline-block;
	text-align: center;
}

.fa-paper-plane-o {
	color: #1bb8f7;
	padding: 15px 0 0 0;
}

.fa-paper-plane-o:hover {
	color: #ff9000;
}

.count {
	color: white;
	font-size: 38px;
	padding: 0 15px 0 15px;
}

.worldmap-text h3 {
	padding: 0;
	margin: 0;
	font-family: 'Pacifico', cursive;
	font-weight: 200;
	font-size: 30px;
	color: #fff;
	margin: 15px 0;
}

.worldmap {
	color: #1fcfe2;
	width: 100%;
	display: inline-block;
	position: relative;
	border: none;
	padding-bottom: 80%;
}

.worldmap iframe {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.toTheTop {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}

.toTheTop a {
	color: #fff;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	font-weight: 200;
	text-decoration: none;
}

.toTheTop a:hover {
	color: aqua;
}

footer {
	background-color: #000;
	color: #fff;
}

.footer-bottom {
	justify-content: space-around;
	align-items: center;
}

.bottom-socials {
	float: left;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	padding: 0 5px 0 5px;
	margin: 5px 0 0 5%;
	letter-spacing: 5px;
}

.footer-bottom a:hover i {
	color: aqua;
	transform: scale(1.6);
	transition: all .4s ease-in-out;
}

.footer-bottom a {
	color: #fff;
}

.copyright {
	float: right;
	display: inline-block;
	margin: 1% 5% 1% 0;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.5px;
}
@media only screen and (max-width: 1200px) {}

@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
	.navigacija {
		display: flex;
		flex-direction: column;
	}
	.navigacija img {
		width: 50px;
	}
	.navbar:after {
		display: none;
	}
	.worldmap {
		display: none;
	}
	.copyright {
		margin: 1% 0;
		font-size: 12px;
		font-family: 'Raleway', sans-serif;
	}
	footer ul li {
		display: inline;
		text-decoration: none;
		font-size: 12px;
		margin: 0;
	}
}

/* Landscape phones and down */

@media (max-width: 480px) {
	.navbar ul li {
		font-size: 16px;
	}
	.copyright {
		font-size: 8px;
	}
	.footer-bottom {
		display: flex;
		justify-content: center;
	}
	footer ul li {
		font-size: 12px;
		padding: 0 1px 0 1px;
	}
}